h1 {
    color: white;
}
body{
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.calculadora {
    width: 300px;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0 0 25px rgb(44, 43, 43);
    text-align: center;
    background-color: rgb(24, 23, 23);
}
#visor {
    font-size: 28px;
    padding: 10px;
    margin: 0 0 15px;
    width: 100%;
    height: 55px;
    border-radius: 25px;
    border: none;
    box-sizing: border-box;
}
.Teclado {
    width: 100%;
    height: 340px;
    display: grid;
    gap: 10px;
    
}
.tecla {
    font-size: 22px;
    width: 66px;
    height: 54px;
    border-radius: 50%;
    padding: 1px 6px;
}
.btnoperador{
    font-size: 22px;
    width: 66px;
    height: 54px;
    padding: 1px 6px;
    border-radius: 50%;
    background-color: yellow;
}
.btnzero{
    font-size: 22px;
    width: 140px;
    height: 60px;
    padding: 1px 6px;
    border-radius: 25px;
}
.btnlimpar{
    font-size: 22px;
    width: 67px;
    height: 60px;
    padding: 1px 6px;
    border-radius: 50%;
    background-color: red;
}
.btnigual{
    font-size: 22px;
    width: 240px;
    height: 60px;
    padding: 5px 10px;
    margin: 5px 10px; 
    border-radius: 25px;   
}