* {
    box-sizing: border-box;
}
h1 {
    color: white;
}
body{
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.calculadora {
    width: 340px;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0 0 25px rgb(44, 43, 43);
    text-align: center;
    background-color: rgb(24, 23, 23);
}
#visor {
    font-size: 28px;
    padding: 10px;
    margin: 0 0 15px;
    width: 100%;
    height: 55px;
    border-radius: 25px;
    border: none;
    text-align: right;

}
.Teclado {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
}
.tecla {
    font-size: 22px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    border: none;

}
.btnoperador{
    cursor: pointer;
    font-size: 22px;
    height: 60px;
    border-radius: 50%;
    background-color: yellow;
    border: none;
}
.btnzero{
    cursor: pointer;
    border: none;
    font-size: 22px;
    height: 60px;
    grid-column: span 2;
    border-radius: 25px;
}
.btnlimpar{
    color: white;
    cursor: pointer;
    border: none;
    font-size: 22px;
    height: 60px;
    border-radius: 50%;
    background-color: red;
}
.btnigual{
    cursor: pointer;
    border: none;
    font-size: 22px;
    grid-column: span 4;
    height: 60px; 
    border-radius: 30px;
    background-color: cyan;   
}